@font-face {
    font-family: "Press Start 2P";
    src: url("./fonts/PressStart2P-Regular.ttf");
}

@font-face {
    font-family: "Fira Code";
    src: url("./fonts/FiraCode-Regular.ttf");
}

@font-face {
    font-family: "Nu";
    src: url("./fonts/NuKinakoMochi-Reg-Rnd1.otf");
}

@font-face {
    font-family: "Nu Empty";
    src: url("./fonts/NuKinakoMochi-RegOl-Rnd.otf");
}
